<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Thank You!</title>
  </head>
  <body>
    <div class="container">
      <img src="../static/logo.png" alt="" class="logo" />
      <h1>Thank You!</h1>
      <h2>Thank you for using the auto rocking wall design webapp,the optimized rocking wall aspect ratio is {{ value[0] }}, rocking wall thickness is {{ value[1] }} in, PT ratio is {{ value[2] }}, total area of PT is {{ value[3] }} in^2, total initial stiffness of UFP is {{ value[4] }} kips/in, the UFP yielding deformation is {{ value[5] }} in.
       </h2>
       <h2> We hope to see you soon!</h2>
    </div>
  </body>
</html>